* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

body {
  height: 100%;
  background-color: hsl(210, 46%, 95%);
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card,
.card__caption,
.card__bottom,
.card__byline,
.card__byline div,
.card__socmed {
  display: flex;
}

.card,
.card__bottom,
.card__byline,
.card__socmed {
  align-items: center;
}

.card,
.card__caption,
.card__byline div {
  flex-direction: column;
}

.card__description,
.card__author,
.card__socmed h2 {
  font-size: 1.3rem;
}

.card__description,
.card__date,
.card__button {
  color: hsl(214, 17%, 51%);
}

.card__header,
.card__author {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

.card__bottom,
.card__button {
  transition: all 0.3s;
}

.card__byline img,
.card__button {
  border-radius: 50px;
}

main {
  margin-bottom: 4rem;
}

.card {
  max-width: 35rem;
  margin: 0 2rem 0;

  background-color: #fff;

  border-radius: 10px;
}

.card__image {
  width: 100%;
  height: 22rem;

  object-fit: cover;
  object-position: 0% 17%;
  vertical-align: bottom;

  border-radius: 10px 10px 0 0;
}

.card__caption {
  gap: 1.5rem;
  margin: 3rem 3.4rem 2.5rem;
}

.card__header {
  font-size: 1.8rem;
}

.card__description {
  line-height: 2rem;
}

.card__bottom {
  position: relative;

  justify-content: space-between;

  width: 100%;
  padding: 1.5rem 4.4rem 1.5rem 3.4rem;
}

.card__byline {
  gap: 1.5rem;
}

.card__byline div {
  gap: 0.05rem;
}

.card__date {
  font-size: 1.2rem;
}

.card__byline img {
  width: 4rem;
}

.card__socmed {
  gap: 1rem;
  padding: 1.12rem 0 1.12rem;

  z-index: -1;
  position: absolute;
  pointer-events: none;
}

.card__socmed h2 {
  color: hsl(212, 23%, 69%);

  font-weight: 400;
  letter-spacing: 0.5rem;

  margin-right: 0.2rem;
  text-transform: uppercase;
}

.card__link img {
  width: 1.7rem;
  vertical-align: middle;
}

.card__button {
  background-color: hsl(210, 46%, 95%);
  padding: 0.6rem;
}

.card__button svg {
  vertical-align: text-top;
}

.card__button:hover {
  background-color: hsl(214, 17%, 51%);
  color: #fff;
}

.card__bottom.card__bottom--socmed-show {
  background-color: hsl(217, 19%, 35%);
  border-radius: 0 0 10px 10px;
}

.card__bottom--socmed-show .card__byline {
  position: absolute;
  z-index: -1;
  pointer-events: none;
}

.card__bottom--socmed-show .card__socmed {
  pointer-events: auto;
  z-index: 9999;
  position: static;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
